@charset "utf-8";
body{
margin: 0; color: #333;
font-family:-apple-system,BlinkMacSystemFont,Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,微软雅黑,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Arial,STHeiti,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
line-height: 1.6; background: #fff;
}
ul, ol{margin: 0; padding-left: 0; list-style: none;}
ul li, ol li{vertical-align: middle;}
dl,  p{margin: 0;} dd{margin-left: 0;}
h1, h2, h3, h4, h5, h6{margin: 0; font-weight: normal;}
strong{ font-weight: bold; }
em {font-style: italic;}
img{ display: block; border: 0;}
a, a:link, a:visited, a:active, a:hover{text-decoration:none;} a{color: #333;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,.0);}
select{-webkit-appearance: none; -moz-appearance: none;}
input[type="submit"]{cursor:pointer;}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]{-webkit-tap-highlight-color:rgba(0,0,0,0);}
input:focus, select:focus, textarea:focus, button:focus{outline: none;}
input, textarea{padding: 0; font-size: .875rem; border-radius: 0; border: 0; resize: none;}
textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
em,i{font-style: normal;}
table {border-collapse: collapse;}
button{border: 0;}
html,body {
    -webkit-text-size-adjust: 100% !important;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}
body{
    background: url(./assets/images/bg.jpg) no-repeat left top/100%;
    background-color: #ffd597;
    
}
.icon{
    display: inline-block;
}
.page{
    position: relative;
    z-index: 2;
    width: 8.9067rem;height: 12.24rem;
    background: url(./assets/images/page.png) no-repeat center/100% 100%;
    margin: 0 auto;
}
.page_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.6667rem;
    box-sizing: border-box;
    padding: 0 0.2667rem;
    margin: 0 auto;
    height: 0.8rem;
    background-color: #fdf0ae;
    border-bottom-left-radius: 0.2933rem;
    border-bottom-right-radius: 0.2933rem;
    color: #c57617;
}
.page_head .avatar{
    flex: 0 0 auto;
    width: 0.48rem;height: 0.48rem;
    border-radius: 50%;
    margin-right: 0.1333rem;
}
.page_head .nickname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page_head .desc{
    flex: 0 0 auto;
}
.page_scale{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4267rem;
    color: #b4582b;
    padding: 0.2133rem 0;
}
.page_scale .icon_gold{
    width: 0.4267rem;height: 0.4267rem;
    background: url(./assets/images/icon_gold.png) no-repeat center/cover;
    margin-right: 0.1333rem;
}
.page_scale .icon_zuanshi{
    width: 0.4267rem;height: 0.4267rem;
    background: url(./assets/images/item4.png) no-repeat center/cover;
    margin-right: 0.1333rem;
}
.page_line{
    width: 7.3867rem;
    margin:  0 auto;
}
.page_line >img{
    width: 100%;
}
.page_money{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2133rem 0;
}
.page_money .t{
    font-size: 0.4rem;color: #cd342c;line-height: 1;
}
.page_money .number{
    font-size: 1.3067rem;color: #f93529;
    font-weight: bold;
    line-height: 1;
}
.page_tips{
    position: absolute;
    left: 0.2rem;
    top: 2.1333rem;
    font-size: 0.3333rem;color: #fff;
    padding: 0 0.4rem;
    height: 0.5333rem;
    line-height: 0.5333rem;
    border-top-right-radius: 0.2667rem;
    border-bottom-right-radius: 0.2667rem;
    background-color: #ff4d2e;
}
.bottom{
    margin-top: -0.9333rem;
}
.bottom >img{
    width: 100%;
}
.page_box{
    position: relative;
}
.page_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.7467rem;
    height: 2.96rem;
    margin: -0.8rem auto 0.4rem;
    background: url(./assets/images/btn_bg.png) no-repeat center/100% 100%;
    animation: scale 1s ease-in-out infinite alternate forwards;
}
@keyframes scale{
    0%{
        transform: scale(0.98);
    }
    100%{
        transform: scale(1.08);
    }
}
.panel_box{
    position: absolute;
    width: 7.4rem;
    height: 2.5333rem;
    border-radius: 0.2667rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: -0.0667rem;
    background-image:linear-gradient(to bottom,#c8858c 5%,#fff 20%,#fff 80%,#c8858c);
    overflow: hidden;
}
.panel{
    display: flex;
    height: 100%;
}
.panel .list{
    display: flex;
    width: 7.4rem;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.panel .list .item{
    flex: 1;
    overflow: hidden;
    height: 2.1333rem;
}
.panel .list .item_name{
    padding: 0 0.1333rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.3733rem;font-weight: bold;color: #bd0a16;
}
.panel .list .item_img{
    width: 1.6rem;
    margin: 0 auto;
}
.btn_text{
 
    font-size: 0.6933rem;
    color: #ff0200;
    font-weight: bold;

}
.page_time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
    color: #fef8de;
    margin-top: -0.5rem;
}
.page_time .time{
    display: block;
    color: #bd0a16;
    background-color: #fbf0b8;
    width: 0.6133rem;height: 0.6133rem;
    border-radius: 0.0933rem;
    text-align: center;
    line-height: 0.6133rem;
}
.page_time .disabled{
    background-image: linear-gradient(to bottom,#f1f1f1,#dbdbdb);
    color: #999999;
}
.page_time .text{
    margin-left: 0.2667rem;
}
.share_box{
    position: relative;
    margin-top: -1.8667rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share_box .share_text{
    position: absolute;
    font-size: 0.6133rem;
    color: #fff;
}
.rules{
    width: 9.1733rem;
    margin:0.4rem auto;
    background-color: #ffe2b6;
    border-radius: 0.3733rem;
}
.rule_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.4667rem;
    border-bottom: 1px solid #fadbaf;
    font-size: 0.48rem;
    color: #dd7f5f;
    text-align: center;
}
.rule_head .t{
    height: 100%;
    line-height:  1.4667rem;
    -webkit-tap-highlight-color: transparent;   
}
.rule_head .active{
    color: #be4e30;
    position: relative;
    font-weight: bold;
}
.rule_head .active::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1333rem;
    background-color: #e67058;
    border-radius: 0.1333rem;
}
.rule_body .item{
  height: 1.8667rem;
  display: flex;
  align-items: center;
  padding: 0 0.5333rem;
  border-bottom: 1px solid #fadbaf;
  box-sizing: border-box;
}
.rule_body .item .avatar{
    width: 1.04rem;height: 1.04rem;border-radius: 50%;
}
.rule_body .item .aside{
    margin-left: 0.2667rem;
}
.rule_body .item .aside .nickname{
    font-size: 0.3733rem;color: #be4e30;font-weight: bold;
}
.rule_body .item .aside .status{
    position: relative;
    display:inline-block;
    background-color: #fff;
    font-size: 0.2933rem;
    padding: 0 0.2667rem;
    color: #be4e30;
    border-radius:0.0667rem;
    height: 0.56rem;
    line-height: 0.56rem;
    margin-left: 0.1333rem;
}
.rule_body .item .aside .status::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
    left: -0.24rem;
    margin-top: 7px;
   
}
.rule_body .item .aside .time{
    font-size: 0.32rem;color: #d2907c;
}
.rule_body .rule_desc{
    font-size: 0.3467rem;color: #754c3b;
    padding: 0.5333rem;
}
.rule_body .rule_desc .rule_cont{
    margin-top: 0.4rem;
}
.rule_body .rule_desc .rule_cont:nth-child(1){
    margin-top: 0;
}